$box-shadow-cards: 0 3px 5px rgba(0, 0, 0, 0.2);
$white-ghost: rgb(250, 249, 253);


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 70px;

    &>img {
        max-width: 100%;
        max-height: 100%;
    }
}
/* ---------------- Portafolio ---------------- */

.portafolio {

    &>h2{
        text-align: center;
        margin: 5% 0;
    }

    .cards__wrapper {
        margin: 10px 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;

        .cards{
            
            width: 20rem;
           
            display: flex;
            flex-direction: column;
            overflow: hidden;
            border-radius: 8px;
            box-shadow: $box-shadow-cards;
            height: auto;
        }

        .row__content {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 100%;
            height: 60%;
            overflow: hidden;
            padding: 5px 15px;

            &>h3{
                text-align: center;
            }
            &>a{
                padding: 8px 10px;
                border-style: solid;
                border-radius: 8px;
                
                text-align: center;
            }
        }
        .row__img{
            width: 100%;
            height: 40%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            background-color: #2e2e2e;

            &>img{
                min-width: 100%;
                max-width: 200%;
                height: 100%;
                
            }
        }
    }

}
.wa {
    float: right;
}

/* About Us */

.about__us{
    display: flex;
    flex-direction: row;
    
    max-height: 40rem;
    background-color: rgb(24, 24, 24);
    margin-top: 5%;
    

    .column__50{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: #fff;

        .content__about{

            &>h3{
                margin: 20px;
            }
            &>p{
                padding: 7%;
                
            }
        }


        &>img{
            max-width: 100%;
            max-height: 100%;
        }
    }
}

/* Publicity */

.publicity{
    margin-top: 5%;
    background-color: white;
    padding: 1rem;
    .publicity__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        &>h3{
            color: #000000;
            text-align: center;
            font-size: 50px;

            
        }

    }
}


.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    text-align: center;
    

    &>img{
        width: 45px;
        margin-bottom: 20px;
    }

    .icons__social__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &>a {
            margin: 10px 5px;
            height: 20px;
            &>img {
                width: 35px;
               
            }
        }
        
        
    }
    .flex__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;

        &>a {
            text-decoration: none;
            color: black;
            margin: 10px;
        }
    }
}

form{
    background-color: white;
    padding: 0 5% 5%;
    &>label{
        width: 20rem;
    }
    
}

/* Botones */

/* .btn__primary {
    padding: 8px 16px;
    width: 50%;
    background-color: $white-ghost;
    text-decoration: none;
    color: black;
    border-radius: 8px;
}
 */