

@media (max-width:992px) {

    .about__us{
        flex-direction: column !important;
        max-height: none !important;

        .column__50{
            width: 100% !important;
            height: 50%;

            .content__about{
                &>h3{
                    text-align: center;
                }
            }
        }
    }

}
