
.fixed{
    display: fixed;
    position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: gray;
  z-index: 999;
}
.container-fluid {
    &>a{
        .logo__navbar {
            width: 35px;
        }
        img {
            width: 120px;
            margin-left: 15px;
        }
    }

    .navbar-collapse {
        justify-content: flex-end;
    }
    
}  
.nav__provisional {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px;
    
    .wa{
        width: 50px;
    }

    .logo{
        height: 45px;
    }
}